.Register {
  color: black;
  width: 9rem;
  background-color: #FFDE32;
}

.Login {
  color: white;
  text-align: center;
  text-decoration: none;
  width: 11rem;
  background: #0047ff;
}

.Btns {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 4px 12px rgba(0, 71, 255, 0.4);
  border-radius: 48px;
  height: 3rem;
  cursor: pointer;
}
