.sign-up-inputs {
  color: #6c63ff;
  font-family: 'Roboto';
  font-size: 1rem;
  text-indent: 1.5rem;
  width: 28.125rem;
  height: 3.125rem;
  background-color: rgba(108, 99, 255, 0.15);

  outline: none;
  border: none;

  &::placeholder {
    color: #6c63ff;
    text-indent: 1.5rem;
  }

  &:focus {
    background-color: white;
    border: solid 0.8px #6c63ff;
  }
}

.sign-up-inputs-password {
  width: 80%;
  height: 100%;

  color: #6c63ff;
  background-color: rgba(108, 99, 255, 0.15);
  font-family: 'Roboto';
  font-size: 1rem;
  text-indent: 1.5rem;


  outline: none;
  border: none;

  &::placeholder {
    color: #6c63ff;
    text-indent: 1.5rem;
  }

  &:focus {
    background-color: white;
    border: solid 0.8px #6c63ff;
  }
}